USE [master]
GO
/****** Object:  Database [OrgTechnicKD]    Script Date: 06.09.2024 3:14:48 ******/
CREATE DATABASE [OrgTechnicKD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OrgTechnicKeller', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\OrgTechnicKeller.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OrgTechnicKeller_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\OrgTechnicKeller_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OrgTechnicKD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OrgTechnicKD]
GO
/****** Object:  Table [dbo].[Detail]    Script Date: 06.09.2024 3:14:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detail](
	[ID_detail] [int] NOT NULL,
	[Name_detail] [nvarchar](100) NOT NULL,
	[Cost] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_detail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Obj_model]    Script Date: 06.09.2024 3:14:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Obj_model](
	[ID_obj_model] [int] NOT NULL,
	[Model] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_obj_model] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Obj_type]    Script Date: 06.09.2024 3:14:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Obj_type](
	[ID_obj_type] [int] NOT NULL,
	[Type_obj] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_obj_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 06.09.2024 3:14:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[ID_order] [int] NOT NULL,
	[ID_detail] [int] NOT NULL,
	[ID_request] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Order_Date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 06.09.2024 3:14:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[ID_report] [int] NOT NULL,
	[ID_request] [int] NOT NULL,
	[Finish_date] [date] NULL,
	[Comment] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_report] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request]    Script Date: 06.09.2024 3:14:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request](
	[ID_request] [int] NOT NULL,
	[ID_obj_type] [int] NOT NULL,
	[ID_obj_model] [int] NOT NULL,
	[ID_user] [int] NOT NULL,
	[ID_status] [int] NOT NULL,
	[Comment] [nvarchar](1000) NULL,
	[Request_date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_request] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request_master]    Script Date: 06.09.2024 3:14:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request_master](
	[ID_request_master] [int] NOT NULL,
	[ID_user] [int] NOT NULL,
	[ID_request] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_request_master] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request_status]    Script Date: 06.09.2024 3:14:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request_status](
	[ID_status] [int] NOT NULL,
	[Req_status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_login]    Script Date: 06.09.2024 3:14:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_login](
	[ID_user_login] [int] NOT NULL,
	[ID_user] [int] NOT NULL,
	[User_login] [nvarchar](100) NOT NULL,
	[User_password] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_user_login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_type]    Script Date: 06.09.2024 3:14:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_type](
	[ID_user_type] [int] NOT NULL,
	[User_type] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_user_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Userss]    Script Date: 06.09.2024 3:14:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Userss](
	[ID_user] [int] NOT NULL,
	[Last_name] [nvarchar](50) NOT NULL,
	[Name_user] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NULL,
	[Phone] [nvarchar](15) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[ID_user_type] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_ID_detail] FOREIGN KEY([ID_detail])
REFERENCES [dbo].[Detail] ([ID_detail])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_ID_detail]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_ID_request_ord] FOREIGN KEY([ID_request])
REFERENCES [dbo].[Request] ([ID_request])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_ID_request_ord]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_ID_request_rep] FOREIGN KEY([ID_request])
REFERENCES [dbo].[Request] ([ID_request])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_ID_request_rep]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_ID_obj_model] FOREIGN KEY([ID_obj_model])
REFERENCES [dbo].[Obj_model] ([ID_obj_model])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_ID_obj_model]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_ID_obj_type] FOREIGN KEY([ID_obj_type])
REFERENCES [dbo].[Obj_type] ([ID_obj_type])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_ID_obj_type]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_ID_status] FOREIGN KEY([ID_status])
REFERENCES [dbo].[Request_status] ([ID_status])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_ID_status]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_ID_user_req] FOREIGN KEY([ID_user])
REFERENCES [dbo].[Userss] ([ID_user])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_ID_user_req]
GO
ALTER TABLE [dbo].[Request_master]  WITH CHECK ADD  CONSTRAINT [FK_ID_request] FOREIGN KEY([ID_request])
REFERENCES [dbo].[Request] ([ID_request])
GO
ALTER TABLE [dbo].[Request_master] CHECK CONSTRAINT [FK_ID_request]
GO
ALTER TABLE [dbo].[Request_master]  WITH CHECK ADD  CONSTRAINT [FK_ID_user_mas] FOREIGN KEY([ID_user])
REFERENCES [dbo].[Userss] ([ID_user])
GO
ALTER TABLE [dbo].[Request_master] CHECK CONSTRAINT [FK_ID_user_mas]
GO
ALTER TABLE [dbo].[User_login]  WITH CHECK ADD  CONSTRAINT [FK_ID_user] FOREIGN KEY([ID_user])
REFERENCES [dbo].[Userss] ([ID_user])
GO
ALTER TABLE [dbo].[User_login] CHECK CONSTRAINT [FK_ID_user]
GO
ALTER TABLE [dbo].[Userss]  WITH CHECK ADD  CONSTRAINT [FK_ID_user_type] FOREIGN KEY([ID_user_type])
REFERENCES [dbo].[User_type] ([ID_user_type])
GO
ALTER TABLE [dbo].[Userss] CHECK CONSTRAINT [FK_ID_user_type]
GO
USE [master]
GO
